* {
  margin: 0;
  padding: 0;
}
.mainpage {
  background-image: url("Content/gallery/1.webp");
  background: no-repeat;
  animation: slider 30s infinite linear;
}
@keyframes slider{
  0%{background-image: url("Content/gallery/1.webp");}
  40%{background-image: url("Content/gallery/3.jpg");}
  70%{background-image: url("Content/gallery/2.jpg");}
  100%{background-image: url("Content/gallery/4.webp");}
}
